@{
    ViewBag.Title = "Home Page";
}
@section scripts{
  
    <script src="~/Content/js/vanillademo.js"></script>
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-image ">
        <div class="carousel-item active">
            <img class="mx-auto d-block w-50 img-fluid" src="~/Content/img/clothing.jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Bestsellers in Clothing</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="mx-auto d-block w-50 img-fluid" src="~/Content/img/toys.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Indoor games</h5>
                <p>...</p>
            </div>
        </div>


        <div class="carousel-item">
            <img class="mx-auto d-block w-50 img-fluid" src="~/Content/img/shoes.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Pocket-friendly fashion</h5>
                <p>...</p>
            </div>
        </div>



        <div class="carousel-item">
            <img class="mx-auto d-block w-50 img-fluid" src="~/Content/img/tv.jpeg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Appliances for your home</h5>
                <p>...</p>
            </div>
        </div>

    </div>
</div>

<hr />
<h5 align="center">New arrivals</h5>
<hr />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Content/img/bath.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>119</h5>
            <p class="card-text">Swimming Bath Toys</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" id="card">
        <img class="card-img-top" src="~/Content/img/Hoverball.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>749</h5>
            <p class="card-text">Indoor Floating Hoverball Soccer</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Content/img/puzzle.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>2399</h5>
            <p class="card-text">India & World Map Puzzle</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<div class="card-deck mt-4">
    <div class="card">
        <img class="card-img-top" src="~/Content/img/shirt.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>329</h5>
            <p class="card-text">Men Formal Shirts</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Content/img/long.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>591</h5>
            <p class="card-text">Women A-line</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Content/img/collar.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>399</h5>
            <p class="card-text">TWINSBOYS Full Sleeve Collared Stylish T-Shirt for Women fit Regular wear</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<div class="card-deck mt-4">
    <div class="card data-tilt">
        <img class="card-img-top" src="~/Content/img/korean.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>1139</h5>
            <p class="card-text">Korean Style High Top Platform Fashion Sneaker</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Content/img/red.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>1709</h5>
            <p class="card-text">Casual Chunky Streetwear Fashion Sneakers</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Content/img/jutti.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>1399</h5>
            <p class="card-text">Cindrella Golden Jutti for Women</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<div class="card-deck mt-4">
    <div class="card">
        <img class="card-img-top" src="~/Content/img/mixi.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>2478</h5>
            <p class="card-text">Cookwell Bullet Mixer Grinder (5 Jars, 3 Blades, Silver)</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Content/img/tvacer.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i> 97990</h5>
            <p class="card-text">Acer Nitro 5 12th Gen Intel Core i7-12650H Gaming Laptop</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Content/img/wm.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i>36990</h5>
            <p class="card-text"> Bosch 8 kg 5 Star 1400RPM INVERTER TOUCH CONTROL Fully Automatic Front Load with Heater Silver</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>

